footer:after, footer div.conteiner:after {
	content: "";
	display: table;
	clear: both;
}
footer {
	background-color: #F7F7F7;
	border-top: solid 3px #DADADA;
	bottom: 0;
	margin-top: 80px;
}
div.block_links {
	width: 33%;
	float: left;
}
.block_links ul {
	list-style-type: none;
}
.block_links a {
	text-decoration: none;
	color: #666;
	text-align: center;
	transition: 0.5s;
}
.block_about p {
	color: #666;
}
div.block_about {
	float: left;
	width: 33%;
}





@media (min-device-width: 1050px) {

	footer div.conteiner {
		width: 63%;	
		padding-top: 10px;
	}
	.block_links li {
		padding-bottom: 10px;
	}
	.block_links a:hover {
		background-color: #44DBBD;
		color: black;
		width: 90px;
		display: block;
		font-size: 13pt;
		border: solid 2px #44DBBD;
		border-radius: 3px;
	}
	#BRON:hover {
		width: 150px;
	}
	.block_links a:active {
		background-color: #201006;
		color: red;
		border: solid 2px #44DBBD;
		border-radius: 3px;
	}	
}

@media (max-device-width: 1050px) {

	footer div.conteiner {
		height: auto;
	}
	.block_links li {
		padding-bottom: 15px;
	}
	.block_links a {
		font-size: 17pt;
	}
	.block_links a:hover, .block_links a:active {
		background-color: #44DBBD;
		color: black;
		width: 150px;
		display: block;
		font-size: 20pt;
		border: solid 2px #44DBBD;
		border-radius: 3px;
	}
	#BRON:hover, #BRON:active {
		width: 250px;
	}
	.block_about h1 {
		font-size: 30pt;
		margin-top: 10px;
	}
	.block_about p {
		font-size: 15pt;
	}
	div.block_about {
		margin-left: 4%;
	}
}