body {
	margin: 0;
	background-color: #FFFFFF;
}

div.title {
	text-align: center;
}

div.block_main {
	border: solid 1px #DADADA;
	background-color: #F7F7F7;
}

.img li {
	padding-top: 2px;
} 

@media (min-device-width: 1050px){

	.conteiner {
		margin: auto;
		width: 60%;
	}

	.title h1 {
		font-size: 32pt;
		line-height: 1.1em;
	}

	.benefits h1 {
		font-size: 23pt;
		padding-left: 70px;
	}

	.benefits li {
		font-size: 17pt;
	}

	.img a {
		text-decoration: none;
		color: black;
		text-align: center;
		width: 89px;
		height: 25px;
		border: 0;
		transition: 0.5s;
	}
	.img a:hover {
		background-color: #44DBBD;
		width: 100px;
		display: block;
		font-size: 18pt;
		border: solid 2px #44DBBD;
		border-radius: 3px;
	}
}
@media (max-device-width: 1050px){
	.conteiner {
		margin: auto;
		width: 90%;
	}

	.title h1 {
		font-size: 40pt;
		line-height: 1.1em;
	}

	.benefits h1 {
		padding-left: 10%;
	}
	.benefits ol {
		padding-left: 9%;
	}
	.img a {
		text-decoration: none;
		color: black;
		text-align: center;
		width: 192px;
		height: 55px;
		border: 0;
		transition: 0.5s;
	}
	.img a:hover {
		background-color: #44DBBD;
		width: 200px;
		/*display: block;*/
		font-size: 20pt;
		border: solid 2px #44DBBD;
		border-radius: 3px;
	}
	.img a:active {
		color: red;
	}
}