.conteiner:after, .block_main:after {
	content: "";
	display: table;
	clear: both;
}
body {
	background-color: #FFF;
	margin: 0;
}
div.title {
	text-align: center;
}

div.block_main {
	border: solid 1px #DADADA;
	background-color: #F7F7F7;
}

@media (min-device-width: 1170px) {
	.conteiner {
		margin: auto;
		width: 60%;
	}
	.title h1 {
		font-size: 30pt;
		line-height: 1.1em;
	}
	div.block_left {
		float: left;
		width: 40%;
	}
	.block_left h1 {
		font-size: 20pt;
		margin-bottom: 5px;
		padding-left: 30px;
	}
	.block_left p {
		font-size: 15pt;
		margin: 0;
		float: right;
	}

	div.block_right {
		width: 50%;
		float: right;
	}
	.block_right h1 {
		font-size: 23pt;
		padding-left: 20px;
	}
	ol.plan {
		font-size: 17pt;
	}
}