body {
	background-color: #FFFFFF;
	margin: 0;
}

div.title {
	text-align: center;
}

div.block_main {
	border: solid 1px #DADADA;
	background-color: #F7F7F7;
}

@media (min-device-width: 1050px){

	.conteiner {
		margin: auto;
		width: 60%;
	}

	.title h1 {
		font-size: 30pt;
		line-height: 1.1em;
	}

	.cervices h1 {
		font-size: 25pt;
		padding-left: 70px;
	}

	.cervices ol {
		font-size: 18pt;
	}
}
@media (max-device-width: 1050px){
	.conteiner {
		margin: auto;
		width: 90%;
	}

	.title h1 {
		font-size: 40pt;
		line-height: 1.1em;
	}

}