.block_main:after, .group_1:after, .DAICHI:after, .AXIOMA:after, .block_left:after, div:after {
	content: "";
	display: table;
	clear: both;
}
body {
	margin: 0;
	background-color: #FFFFFF;
}

div.title {
	text-align: center;
}
.title h1 {
	font-size: 30pt;
}


div.block_main {
	width: 100%;
	margin: auto;
	border: solid 1px #DADADA;
	background-color: #F7F7F7;
}

/*Блок левый (БАР)*/

.block_left h3 {
	margin-left: 20px;
	font-size: 20pt;
}
.block_left li {
	margin-bottom: 7px;
	font-size: 14pt;
}
.block_left a {
	text-decoration: none;
	color: #0013ff;
	font-size: 15pt;
}
.block_left a:hover {
	color: #000000;
}
.block_left a:active {
	color: #ff0000;
}

/*Блок правый*/
.firm h2 {
	font-size: 30px;
}

div.product {
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-color: white;
	border: solid 1px #FFF;
	transition: 0.5s;
}
div.product:hover {
	border: solid 1px #000;
	cursor: pointer;
}
.product a {
	text-decoration: none;
	color: black;
}
.product h1 {
	font-size: 22pt;
}
.product h2 {
	font-size: 17pt;
	float: right;
}
.AXIOMA .firm {
	margin-top: 70px;
}




/*For PC*/
@media (min-device-width: 1540px) {
	div.conteiner {
		margin: auto;
		width: 78%;
	}
	div.firm {
		margin: 0 auto;
		width: 25%;
	}
	.mobile, .brand, .brand-links {
   	display: none;
	}
	div.block_left {
		border: solid 2px #DADADA;
		float: left;
		margin: 10px;
		background-color: #F0F0F0;
		width: 15%;
	}
	div.block_right {
		float: left;
		margin-left: 1%;
		width: 82%;
		min-width: 984px;
	}
}



/*For mobile*/
@media (max-device-width: 1539px) {
	div.conteiner {
		margin: auto;
		width: 95%;
	}
	
	.PC {
		display: none;
	}

	div.firm {
		margin: 0 auto;
		width: 1%;
	}
	div.block_right {
		float: left;
		margin-left: 1%;
		width: 100%;
	}
	div.product {
		padding: auto;
	}
	

	/*Кнопка*/
	.mobile {
		margin-left: 1%;
		margin-top: 2%;
		float: left;
		display: inline-block;
	}

	.brand {
		background-color: #2F2E2E;
		transition: 0.5s;
		color: white;
		padding: 10px;
		font-size: 20pt;
		cursor: pointer;
	}

	.brand-links {
		display: none;
		position: absolute;
		background-color: #FFF;
		min-width: 200px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		
	}

	.brand-links a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		font-size: 20pt;
	}

	.mobile a:hover {
		background-color: #ddd;
	}

	.show {
		display: block;
	}

	span.DAICHI {
		/*margin-top: 20px;*/
	}
}